// Global styles
@import "../../../styles/base/settings";
@import "../../../styles/mixins/utilities";

// Logo
.logo {
  align-items: center;
  display: flex;

  .image {
    @include square(26px);
    background: url("./images/logo.png") no-repeat 0 0 / 100% 100%;
    display: inline-block;

    @media (min-width: $breakpoint-md) {
      margin-right: 1rem;
    }
  }
}

// Navigation group
.group {
  align-items: center;
  display: flex !important;
  flex: {
    basis: auto;
    grow: 1;
  }
}

// Meta links
.meta {
  $element-spacing: 0.25rem;

  align-items: center;
  display: flex;
  flex-flow: row wrap;

  > :not(:last-child) {
    margin-right: $element-spacing;
  }

  > :not(:first-child) {
    margin-left: $element-spacing;
  }

  .link {
    color: rgba(255, 255, 255, 0.5);
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:hover {
      color: #fff;
    }
  }
}

// Home link
.home {
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
