{
  "plugins": [
    "jsx-control-statements",
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ],
  "presets": ["react-app"]
}
