# See https://docs.docker.com/engine/reference/builder/#dockerignore-file
# for more about ignoring files.

# Version control
.git

# Dependencies
node_modules

# Artifacts
build
coverage

# Temporary files
tmp

# Micellaneous
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
