{
  "env": {
    "browser": true,
    "jest/globals": true,
    "jsx-control-statements/jsx-control-statements": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jest/recommended",
    "plugin:jsx-control-statements/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["import", "jest", "jsx-a11y", "jsx-control-statements", "react"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "no-useless-escape": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-control-statements/jsx-choose-not-empty": 1,
    "jsx-control-statements/jsx-for-require-each": 1,
    "jsx-control-statements/jsx-for-require-of": 1,
    "jsx-control-statements/jsx-if-require-condition": 1,
    "jsx-control-statements/jsx-otherwise-once-last": 1,
    "jsx-control-statements/jsx-use-if-tag": 1,
    "jsx-control-statements/jsx-when-require-condition": 1,
    "jsx-control-statements/jsx-jcs-no-undef": 1,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-undef": [2, { "allowGlobals": true }],
    "react/no-string-refs": 0,
    "react/prop-types": 0
  }
}
