// Global styles
@import "../../../../../../styles/base/settings";

// Status bar
.status {
  color: $color-secondary;
  display: block;
  font-size: 0.8rem;
  margin-left: 2px;
  text-align: center;
}
