// Global styles
@import "../../../styles/base/settings";
@import "../../../styles/mixins/utilities";

// Wrapper
.wrapper {
  background: url("./images/avatar.png") no-repeat 0 0 / 100% 100%;
  border-radius: 50%;
  position: relative;
  top: 0;
}

// Photo
.photo {
  border-radius: 50%;
  height: 100%;
}
