// Button set
.button-set {
  $element-spacing: 0.25rem;

  align-items: center;
  display: flex;
  justify-content: flex-start;

  > :not(:last-child) {
    margin-right: $element-spacing;
  }

  > :not(:first-child) {
    margin-left: $element-spacing;
  }
}
