// Global styles
@import "../../../../../../styles/base/settings";
@import "../../../../../../styles/mixins/utilities";

// Variables
$element-size-xs: 20px;
$element-size-sm: 30px;

// Wrapper
.wrapper {
  @include square($element-size-xs);
  bottom: $element-size-xs;
  left: 50%;
  margin-left: -($element-size-xs / 2);
  position: fixed;
  z-index: 7000;

  @media (min-width: $breakpoint-sm) {
    @include square($element-size-sm);
    bottom: 0;
    position: absolute;
  }
}

// Pin
.pin {
  @include square(100%);
  bottom: 15px;
  left: auto;

  @media (min-width: $breakpoint-sm) {
    @include square($element-size-sm);
    position: fixed;
  }
}

// Button
.button {
  @include square($element-size-xs);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  justify-content: center;

  @media (min-width: $breakpoint-sm) {
    @include square($element-size-sm);
    font-size: 12px;
  }
}
