// Global styles
@import "../../../styles/base/settings";
@import "../../../styles/mixins/utilities";

// Variables
$link-background-hover: rgba(0, 0, 0, 0.1);

// Header
.header {
  display: block;
  padding: 0.5rem 1.15rem 0.5rem 1.25rem;

  &:hover {
    background-color: $link-background-hover;
    text-decoration: none;
  }

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

// User
.user {
  color: $color-secondary;
  display: block;
  font-size: 0.85rem;
}

// Avatar
.avatar {
  margin-bottom: 0.75rem;

  :global(.avatar) {
    @include square(35px);
  }
}

// Icon
.icon {
  color: #666;
  display: inline-block;
  margin-right: 1.25rem;
  min-width: 18px;
}

// Sign-out button
.signout {
  @include button-reset;
  text-align: left;
  width: 100%;
}

// Leaving
.leaving {
  color: $color-secondary;
}

// Navigation
.navigation {
  border-top: solid #eee 1px;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    > a,
    > button {
      display: block;
      padding: 1.15rem 0 1.15rem 1.25rem;
    }
  }

  a,
  button {
    color: $color-base;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: $link-background-hover;
      color: $color-base;
      text-decoration: none;
    }
  }

  .active {
    $color-active: #999;

    &,
    &:hover {
      color: $color-active;
    }

    .icon {
      color: $color-active;
    }
  }

  :global(.active) {
    cursor: default;
  }
}
