// Container
.container {
  background-color: #d8ebf8;
  border: 1px solid #97c1da;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #264c72;
  font-size: 0.85rem;
  padding: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

  p,
  ol,
  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
