// Global styles
@import "../../../../../../styles/base/settings";

// Content container
.content {
  margin-bottom: 1rem;
}

// Status
.status {
  $element-spacing: 0.5rem;

  > :not(:last-child) {
    margin-right: $element-spacing;
  }

  padding-bottom: 5px;

  .text {
    font-size: 80%;

    .no {
      color: $color-danger;
    }

    .yes {
      color: $color-success;
    }
  }
}

// Footer
.footer {
  color: $color-secondary;
}
