// Global styles
@import "../../../styles/base/settings";
@import "../../../styles/mixins/utilities";

// Logo
.logo {
  @include square(65px);
  background: url("./images/logo.png") no-repeat 0 0 / 100% 100%;
  display: block;
  opacity: 0.65;
}

// Spinner
.spinner {
  padding-top: 5px;
}

// Description
.description {
  bottom: 1rem;
  color: $color-secondary;
  font-size: 0.875rem;
  left: 0;
  position: fixed;
  right: 0;

  > p {
    margin-bottom: 0;
  }
}
