// Global styles
@import "../../../../styles/base/settings";

// Symbol
.symbol {
  color: $color-success;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 10px;
}

// Actions bar
.actions {
  margin-bottom: 5px;
}
