// Micro clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// Horizontal margin
@mixin margin-horizontal($size) {
  margin-bottom: $size;
  margin-top: $size;
}

// Vertical margin
@mixin margin-vertical($size) {
  margin-left: $size;
  margin-right: $size;
}

// Horizontal padding
@mixin padding-horizontal($size) {
  padding-bottom: $size;
  padding-top: $size;
}

// Vertical padding
@mixin padding-vertical($size) {
  padding-left: $size;
  padding-right: $size;
}

// Square block
@mixin square($size) {
  height: $size;
  width: $size;
}
